.layout {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.content {
    display: flex;
    flex-grow: 1;
    height: calc(100vh - 60px);
    overflow: auto; /* Изменено на auto для прокрутки */
}

.main-content {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    overflow-y: auto;
    padding: 20px;
    box-sizing: border-box;
    -webkit-overflow-scrolling: touch;
}

@media (max-width: 768px) {
    .content {
        flex-direction: column;
        height: auto;
    }

    .main-content {
        order: 2;
        padding: 10px;
        height: auto;
    }

    .left-column, .right-column {
        width: 100%;
        order: 1;
        height: auto;
        overflow-y: visible;
        padding: 10px;
    }
}
























