.layout {
    display: flex;
    flex-direction: column;
    height: 100vh; /* Высота на 100% окна браузера */
}

.content {
    display: flex;
    flex-grow: 1;
    height: calc(100vh - 60px); /* Высота контента минус высота header */
}

.main-content {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    overflow-y: auto;
    padding: 20px;
    box-sizing: border-box;
}

@media (max-width: 768px) {
    .content {
        flex-direction: column;
        height: auto; /* Автоматическая высота для мобильных устройств */
    }

    .main-content {
        order: 2;
        padding: 10px;
        height: auto; /* Автоматическая высота для мобильных устройств */
    }

    .left-column, .right-column {
        width: 100%;
        order: 1;
        height: auto;
        overflow-y: visible;
        padding: 10px;
    }
}














