.layout {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.content {
    display: flex;
    flex-grow: 1;
    overflow: hidden;
}

.main-content {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    overflow-y: auto;
    padding: 20px;
    box-sizing: border-box;
}


.main-content::-webkit-scrollbar {
    width: 0;
    background: transparent;
}

@media (max-width: 768px) {
    .layout {
        height: auto; 
        overflow: visible;
    }

    .content {
        flex-direction: column;
        overflow: visible;
        height: auto;
    }

    .main-content {
        order: 2;
        padding: 10px;
        height: auto; 
        overflow-y: visible;
    }

    .left-column, .right-column {
        width: 100%;
        order: 1;
        height: auto;
        overflow-y: visible;
        padding: 10px;
    }
}


@media (max-width: 768px) {
    .content {
        flex-direction: column;
        height: auto; 
        overflow: auto;
    }

    .main-content {
        order: 2;
        padding: 10px;
        height: auto; 
        overflow-y: auto;
    }

    .left-column, .right-column {
        width: 100%;
        order: 1;
        height: auto;
        overflow-y: visible;
        padding: 10px;
    }
}















