.main-content {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    overflow-y: auto; 
    background-color: #bdc3c7;
    box-sizing: border-box; 
}

@media (max-width: 768px) {
    .main-content {
        padding: 5px; 
    }
}
